/* About start */

/* h2 {
    color: red;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 20px;
    line-height: 50px;
    white-space: wrap;
}


img {
    width: 500px;
    height: 400px;
}


h1 {
    color: red;
} */

/* About end */




/* h2 {
    color: green;
}

.one {
    font-size: 40px;
}

* {
    color: red;
} */

.one {
    color: blue;
}

h2 {
    color: green;
}








/* selector types;
1. all selector -- *;
2. tag name --- a, h2; 
3. class  -- .className*/


